.rmdb-loadmorebtn {
    background: #16d47b;
    width: 100%;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: .5rem 0;
    -webkit-transition: all .3s;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rmdb-loadmorebtn p {
  font-family: "Abel", sans-serif;
  font-size: 42px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}
